body {
  text-align: center;
  background-color: #495C83;
}

#level-title {
  font-family: 'Press Start 2P', cursive;
  font-size: 3rem;
  margin:  5%;
  color: #FEF2BF;
}

.container {
  /* display: block; */
  /* width: 50%; */
  margin: auto;

}

.btn {
  margin: 25px;
  display: inline-block;
  height: 200px;
  width: 200px;
  border: 5px solid black;
  border-radius: 20%;
}

.game-over {
  background-color: red;
  opacity: 0.8;
}

.red {
    background-image: linear-gradient(to right, #e52d27 0%, #b31217  51%, #e52d27  100%);
}

.green {
     background-image: linear-gradient(to right, #56ab2f 0%, #a8e063  51%, #56ab2f  100%);

}

.blue {
  /* background-color: blue; */
  background-image: linear-gradient(to right, #1A2980 0%, #26D0CE  51%, #1A2980  100%);
 }

.yellow {
     background-image: linear-gradient(to right, #F09819 0%, #EDDE5D  51%, #F09819  100%);
}

.pressed {
  box-shadow: 0 0 20px white;
  background-color: grey;
}
.start-button{
  display: inline-block;
  height: 70px;
  width: 100px;
  border: 2px solid black;
  background-color: #019267;
  /* padding: 0 40px; */

}
